lorem {
  color: blue;
}
.ENTER {
  background-color: brown(350, 50, 250);
  color: black;
  font-weight: 1000;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  border-color: blue;
  display: block;
  margin: auto;
}
